<!-- <div *ngIf="getBooks() | async"> -->
<div class="new-container">
    <div class="new link" (click)="create()">
        <a>+ Add New</a>
    </div>
</div>
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="( books | async )">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let book">{{book.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell class="name-cell"
                  *matCellDef="let book"><a class="link" (click)="viewBook( book.id )">{{book.name}}</a></mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
<div class="paginator">
    <mat-paginator
        [length] = "totalNoOfBooks | async"
        [pageIndex]="pageIndex | async"
        [pageSize]="pageSize"
        [showFirstLastButtons]="true"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>
<!-- </div> -->